* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(222, 26%, 31%);
}
.body {
  font-family: "League Spartan", sans-serif;

  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}
.calculator__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}
.calculator__block {
  display: flex;
}
.calculator__name {
  font-size: 3em;
  color: white;
}
.calculator__slider {
  display: flex;
}
.calculator__theme {
  margin-top: 20px;
  margin-right: 20px;
}
.calculator__smallText {
  display: flex;

  justify-content: space-between;
}
.text {
  color: white;
  font-family: "League Spartan", sans-serif;
}
.numbers {
  color:  hsl(223, 31%, 20%);
}


/* slider */
.slider {
    width: 100%;
    /* margin: 10px auto; */
    -webkit-appearance: none;
    height: 25px;
    border-radius: 15px;
    margin-bottom: 15px;
  background: hsl(224, 36%, 15%);
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: hsl(6, 63%, 50%);
    overflow: visible;
    cursor: pointer;
    transition: all 1s ease;
}

.calculator__display {
  background-color: hsl(224, 36%, 15%);
  display: flex;
  flex-direction: row-reverse;
  border-radius: 15px;
  padding: 2.5em 0.75rem 2.5em 0.75em;
  margin-bottom: 20px;
}
.calculator__solution {
  font-size: 2em;
}
.calculator__input {
  background-color: hsl(224, 36%, 15%);
  border-radius: 15px;
  text-align: center;
  padding: 2.5em 0.75rem 2.5em 0.75em;
  display: flex;
  flex-direction: column;
}
.calculator__row {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-bottom: 20px;
}
.calculator__button {
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: -0.2em;
  padding-right: -0.2em;
  border-radius: 15px;
  box-shadow: hsl(224, 28%, 35%);
}
.calculator__control {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.control {
  padding: 2.5% 20% 2.5% 20%;
  border-radius: 15px;
  font-size: 2em;
}
.reset {
  background-color: hsl(225, 21%, 49%);
}
.equals {
  background-color: hsl(6, 63%, 50%);
}

@media screen and (max-width: 768px) {
  .body{
    margin:1rem;
    /* width:100%; */
  }
}