*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.text{

}
.numbers
body{
    background-color: hsl(222, 26%, 31%);
}
.body{
    font-family: 'League Spartan', sans-serif;
 position: fixed; /* or absolute */
  top:25%;
  left: 50%;
  
}




.slider {
  -webkit-appearance: none;
   /* width: 100%; */
  height: 25px;
  background: #d3d3d3;
  /* outline: none; */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; 
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  /* appearance: none; */
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}