*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: hsl(222, 26%, 31%);
}
.body{
    font-family: 'League Spartan', sans-serif;
/* width: 100%; */
  padding:10%;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #d3d3d3;
  
}
.calculator__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}
.calculator__block{
    display: flex;
}
.calculator__name {
    font-size: 3em;
    color: white;

}
.calculator__slider{
display: flex;
align-self: center;
}
.text{
color: white;

}
.numbers{
    color: hsl(221, 14%, 31%);
}
.slider {
  -webkit-appearance: none;
   /* width: 100%; */
  height: 25px;
  background: #d3d3d3;
  /* outline: none; */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; 
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  /* appearance: none; */
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.calculator__display{
    background-color: hsl(224, 36%, 15%);
    display: flex;
    border-radius: 5%;
    padding: 2.5em 1rem 2.5em 1em;
}